[Desktop Entry]
Name=Linexin Updater

Exec=linexin-center -w a-system-updater

Icon=/usr/share/icons/github.petexy.linexinupdater.svg

Terminal=false
Type=Application
Categories=GTK; Update; Install; software; arch; pacman; syu;
StartupNotify=false
Hidden=true

